[Unit]
Description=Webhook Dynamic Router
After=network.target

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/whdr-server --config /etc/whdr/config.toml
Restart=on-failure
User=whdr
Group=whdr
RuntimeDirectory=whdr
StateDirectory=whdr

[Install]
WantedBy=multi-user.target
